[submodule "dailyfeed-batch"]
	path = dailyfeed-batch
	url = https://github.com/alpha3002025/dailyfeed-batch
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code
[submodule "dailyfeed-redis-support"]
	path = dailyfeed-redis-support
	url = https://github.com/alpha3002025/dailyfeed-redis-support
[submodule "dailyfeed-kafka-support"]
	path = dailyfeed-kafka-support
	url = https://github.com/alpha3002025/dailyfeed-kafka-support
[submodule "dailyfeed-deadletter-support"]
	path = dailyfeed-deadletter-support
	url = https://github.com/alpha3002025/dailyfeed-deadletter-support
